@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    max-height: 0;
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    max-height: 1000px;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    max-height: 1000px;
    opacity: 1;
    transform: translateX(0);
  }
  to {
    max-height: 0;
    opacity: 0;
    transform: translateX(-10px);
  }
}

.slide-in {
  animation: slideIn 0.3s ease forwards;
}

.slide-out {
  animation: slideOut 0.3s ease forwards;
  max-height: 0;
  overflow: hidden;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  button {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #0078ff;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &.bg-indigo-600 {
      background-color: #0078ff;
      color: #fff;
    }

    &.outline-blue {
      border-color: #0078ff;
      color: #0078ff;

      &:hover {
        background-color: #0078ff;
        color: #fff;
      }
    }
  }

  .button-group {
    display: flex;
    gap: 0.25rem;
  }
}

.react-datepicker__input-container {
  position: relative;
  display: flex !important;
  width: 100%;
  align-items: center;
}

.react-datepicker__input-container > input {
  min-width: 240px;
  padding-left: 32px !important;
  font-size: 0.9rem;
}
